Checks:          '*,-hicpp-*,-llvm-header-guard,-google-build-using-namespace,-clang-analyzer-alpha.clone.CloneChecker,-google-runtime-int,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-clang-analyzer-alpha.deadcode.UnreachableCode,-misc-use-after-move,-cppcoreguidelines-pro-type-vararg,-modernize-use-emplace,-cert-err60-cpp,-modernize-use-trailing-return-type,-fuchsia-default-arguments-calls,-fuchsia-overloaded-operator,-readability-magic-numbers,-cppcoreguidelines-avoid-magic-numbers'
# We only care about our code under 'src'
HeaderFilterRegex: 'src((\\|\/)[a-zA-Z0-9]+)+\.(h|c)$'